/* @charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #333333;
}
body {
	font-size: 14px;
	font-family: '돋움', sans-serif;
	color: #333333;
	background-color: #ffffff;
}
header {
	width: 100%;
	height: 100px;
	background-color: #ccc;
}
header #menu_wrap {
	width: 1200px;
	margin: 0px auto;
	background-color: aliceblue;
	position: relative;
	z-index: 4;
}
header #menu_wrap h1 {
	width: 200px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
	top: 30px;
	left: 0px;
}

header nav {
	position: absolute;
	top: 70px;
	right: 0px;
	z-index: 4;
}
header nav ul.gnb {
	height: 30px;
	line-height: 30px;
	background-color: aquamarine;
}
header nav ul.gnb > li {
	width: 200px;
	text-align: center;
	float: left;
}
header nav ul.gnb > li:hover {
	background-color: antiquewhite;
}

.submenu {
	margin-top: 10px;
	display: none;
}
.submenu li {
	height: 25px;
	line-height: 25px;
	font-size: 12px;
}
.submenu li:hover {
	background-color: pink;
}

#gnb_bg {
	width: 100%;
	height: 0px;
	background-color: antiquewhite;
	position: absolute;
	top: 100px;
	z-index: 4;
} */

@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #333333;
}
body {
	font-size: 14px;
	font-family: '돋움', sans-serif;
	color: #333333;
	background-color: #ffffff;
}

header {
	width: 100%;
	height: 100px;
	background-color: #cccccc;
}
header #menu_wrap {
	width: 1200px;
	margin: 0px auto;
	background-color: aliceblue;
	position: relative;
	/* z-index: 4; */
}
header #menu_wrap h1 {
	width: 200px;
	height: 60px;
	position: absolute;
	/* top: 50%;
	left: 0px;
	transform: translateY(-50%); */
	top: 30px;
	left: 0px;
}
nav {
	position: absolute;
	top: 70px;
	right: 0px;
	z-index: 4;
}
nav ul.gnb {
	height: 30px;
	line-height: 30px;
	background-color: aquamarine;
}
nav ul.gnb > li {
	width: 200px;
	text-align: center;
	float: left;
}
nav ul.gnb > li:hover {
	background-color: antiquewhite;
}

.submenu {
	margin-top: 10px;
	display: none;
}
.submenu li {
	height: 25px;
	line-height: 25px;
	font-size: 12px;
}
.submenu li:hover {
	background-color: pink;
}
#gnb_bg {
	width: 100%;
	height: 0px;
	background-color: antiquewhite;
	position: absolute;
	top: 100px;
	/* z-index: 4; */
}
