@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
	color: #333;
}
body {
	background-color: #fff;
	color: #333;
	font-size: 14px;
	font-family: '맑은 고딕', sans-serif;
}

.popup {
	width: 500px;
	min-height: 200px;
	padding: 20px;
	background-color: green;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 15;
	display: none;
}
.popup h2 {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
}
.popup p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
	text-align: center;
}
.popup #close {
	background-color: #333;
	color: #eee;
	padding: 5px 10px;
	position: absolute;
	bottom: 20px;
	right: 20px;
	border: none;
	outline: none;
	cursor: pointer;
}

header {
	width: 100%;
	background-color: #aaa;
}
header .inner {
	width: 1200px;
	height: 100px;
	background-color: #eee;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	/* gnb 부분에 부여해도 됨 */
}

header .inner h1 {
	position: absolute;
	top: 50%;
	left: 50px;
	transform: translateY(-50%);
}

header .inner nav {
	width: 100%;
	height: 100%;
	position: relative;
}
.bgGnb {
	width: 100%;
	height: 0px;
	background-color: lightseagreen;
	position: absolute;
	top: 100px;
}
#gnb {
	position: absolute;
	top: 50px;
	right: 0px;
	margin-right: 50px;
	text-align: center;
	height: 50px;
	line-height: 50px;
}
#gnb > li {
	float: left;
	width: 150px;
}
#gnb > li > a {
	display: block;
	width: 100%;
	height: 50px;
	font-size: 25px;
	font-weight: bold;
}
#gnb > li:hover > a {
	background-color: #333;
	color: #fff;
}

.submenu {
	display: none;
}
.submenu li a {
	display: block;
	width: 150px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	color: #555;
}
.submenu li a:hover {
	background-color: #f8f8f8;
	color: #000;
}

#slide {
	width: 1200px;
	height: 300px;
	margin: 0 auto;
	background-color: #333;
	overflow: hidden;
}
#slide .frame {
	width: 100%;
	height: 100%;
	position: relative;
}
#slide .frame li {
	position: absolute;
}

#contentBox {
	width: 100%;
	background-color: #eee;
}
#contentBox .inner {
	width: 1200px;
	height: 200px;
	margin: 0 auto;
	background-color: #aaa;
	display: flex;
	justify-content: space-between;
}

#contentBox .inner article {
	flex: 1;
	border: 1px solid #000;
	padding: 10px;
}

#contentBox .inner article .name {
	width: 20%;
	height: 30px;
	margin-left: 10px;
	background-color: #fff;
	border: 1px solid #000;
	border-bottom: none;
	margin-bottom: -1px;
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

#contentBox .inner .notice .content {
	width: 100%;
	height: 150px;
	border: 1px solid #000;

	background-color: #fff;
}
#contentBox .inner .notice .content ul {
	padding: 10px;
}
#contentBox .inner .notice .content ul li {
	width: 100%;
	height: 30px;
	line-height: 30px;
	display: flex;
	justify-content: space-between;
}
#contentBox .inner .notice .content ul li a {
	font-size: 13px;
}
#contentBox .inner .notice .content ul li span {
	font-size: 12px;
}
#contentBox .inner .notice .content ul li:hover {
	background-color: #eee;
}

#contentBox .inner .gallery .content {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
#contentBox .inner .gallery .content a:hover img {
	opacity: 0.7;
}

.baro {
	width: 100%;
	height: 100%;
}
.baro a img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

footer {
	width: 100%;
	background-color: lightblue;
}
footer .inner {
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	background-color: #ccc;
	display: flex;
	justify-content: space-between;
}
footer .inner .footer_wrap {
	flex: 5;
	background-color: aliceblue;
}

footer .inner .footer_wrap .footer_menu {
	width: 100%;
	height: 50%;
	background-color: red;
}
footer .inner .footer_wrap .footer_menu ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
footer .inner .footer_wrap .footer_menu ul li {
	font-size: 15px;
	line-height: 50px;
}
footer .inner .footer_wrap .footer_menu ul li a {
	font-size: 15px;
	line-height: 50px;
}

footer .inner .footer_wrap .copyright {
	width: 100%;
	height: 50%;
	background-color: coral;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer .inner .footer_wrap .copyright span {
	color: #fff;
}

footer .inner .family {
	flex: 1;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}
