@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #333;
}

section {
	width: 800px;
	height: 350px;
	border: 4px solid blue;
	margin: 0 auto;
	/* overflow: hidden; */
}
section #slide {
	height: 350px;
}
section #slide .container {
	width: 2400px;
	height: 350px;
	background-color: #333;
	position: relative;
	left: -800px;
}
section #slide .container > li {
	width: 800px;
	height: 350px;
	background-color: aqua;
	float: left;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	font-size: 100px;
	color: #fff;
}
section #slide .container .slideItem1 {
	background-image: url(../images/1.jpg);
}
section #slide .container .slideItem2 {
	background-image: url(../images/2.jpg);
}
section #slide .container .slideItem3 {
	background-image: url(../images/3.jpg);
}
