@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
}
.member1 {
	background-color: #ebfaff;
}
section {
	width: 340px;
	padding: 30px;
	margin: 50px auto;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.3);
}
section .menu {
	width: 100%;
}
section .menu a {
	display: block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	color: #666;
}
section .menu a:nth-of-type(1) {
	float: left;
}
section .menu a:nth-of-type(2) {
	float: right;
}
section article {
	width: 100%;
	text-align: center;
	/* 자식 요소가 인라인이어야 가운데 정렬 적용됨 */
}
section article img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-bottom: 20px;
}
section article h1 {
	font-size: 22px;
	font-family: 'arial', '맑은 고딕';
	/* 영어폰트 한개, 한글폰트 한개 이렇게 쓰기도 함 */
	color: #555;
	margin-bottom: 5px;
}
section article h2 {
	font-weight: normal;
	font-size: 12px;
	font-family: 'arial';
	color: #bbb;
	margin-bottom: 30px;
}
section article .btnView {
	display: block;
	width: 180px;
	height: 32px;
	background-color: #aaa;
	margin: 0 auto;
	border-radius: 16px;
	font: bold 10px/32px 'arial';
	letter-spacing: 2px;
	color: #000;
}
section .contact {
	width: 100%;
}
section .contact li {
	width: 100%;
	padding: 10px 0px;
	border-bottom: 1px solid #aaa;
}
section .contact li:nth-of-type(2) {
	border-bottom: none;
}
section .contact li i {
	width: 20%;
	text-align: center;
	font-size: 15px;
	color: #555;
	text-shadow: 2px 2px 2px #ddd;
}
section .contact li span {
	font-size: 11px;
	font-family: '맑은 고딕', 'arial';
	color: #555;
	letter-spacing: 2px;
}
section .others {
	width: 100%;
	text-align: center;
	font-size: 0px;
	/* a에 자동으로 여백 생기는 버그 잡기 위함 */
}
section .others a {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #aaa;
	border-radius: 50%;
	margin-left: 10px;
}
