@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #333333;
}

.wrap {
	width: 100%;
	height: 950px;
	background-color: #2d1e2a;
}

.wrap main {
	width: 100%;
	height: 850px;
	background-color: #edb5be;
	display: flex;
}
.wrap main header {
	width: 200px;
	height: 100%;
	background-color: #c46285;
}
.wrap main header h1 {
	width: 150px;
	height: 100px;
	background-color: #805473;
	margin: 20px auto;
}
.wrap main header nav {
	width: 100%;
	height: 300px;
	background-color: #4e354b;
}

.wrap main figure {
	width: calc(100% - 200px);
	height: 100%;
	background-color: #d8819e;
}
.wrap main figure #slide {
	width: 100%;
	height: 400px;
	background-color: #edb5be;
	position: relative;
}
.wrap main figure #slide .slideBox {
	width: 100%;
	height: 100%;
	border: 2px solid #251a25;
}
.wrap main figure #slide .frame {
	width: 100px;
	height: 240px;
	background-color: #5b4c56;
	position: absolute;
	top: 0px;
	right: 0px;
}

.wrap main figure #banner {
	width: 100%;
	height: 200px;
	background-color: #cc948c;
	display: flex;
}
.wrap main figure #banner .image {
	flex: 1;
	height: 100%;
	background-color: #cc948c;
}
.wrap main figure #banner .text {
	flex: 3;
	height: 100%;
	background-color: #c46285;
}
.wrap main figure #banner .icon {
	flex: 1;
	height: 100%;
	background-color: #251a25;
}

.wrap main figure #board {
	width: 100%;
	height: 250px;
	background-color: #2d1e2a;
}

.wrap footer {
	width: 100%;
	height: 120px;
	background-color: #251a25;
	display: flex;
}
.wrap footer h2 {
	width: 200px;
	height: 100%;
	background-color: #251a25;
}
.wrap footer .copy {
	width: calc(100% - 600px);
	height: 100%;
	background-color: #cc948c;
}
.wrap footer .sns {
	width: 400px;
	height: 100%;
	background-color: #edb5be;
}
