@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
li {
	list-style: none;
}
body {
	font-size: 14px;
	font-family: '돋움', 'sans-serif';
	color: #000000;
	background-color: #ffffff;
}
a {
	text-decoration: none;
	color: #333333;
}
address {
	font-style: normal;
}

nav {
	width: 200px;
}
ul.gnb > li {
	width: 100%;
	/* float: left; */
}
ul.gnb a {
	display: block;
	text-align: center;
}
ul.gnb > li > a {
	/* 메인 메뉴 a */
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	font-weight: bold;
	background-color: #805473;
	color: #ffffff;
}
ul.gnb > li:hover > a {
	background-color: #c46285;
	color: #dddddd;
}

.submenu {
	width: 100%;
	display: none;
}
.submenu li a {
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	background-color: #edb5be;
}
.submenu li a:hover {
	background-color: #4e354b;
	color: #eeeeee;
}
