@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}

.wrap {
	width: 1180px;
	position: relative;
	margin: 0 auto;
	#visual {
		width: 100%;
		position: relative;
		/*
        height : 고정된 값, 넘치면 잘리거나 삐져나가게 됨
        min-height : 유동적인 값, 최소 높이값을 지정해주고
        넘치면 늘어나는 성질이 있음
        max-height : 유동적인 값, 최대값이 정해져 있어서
        처음에는 height값이 부여되지 않은 것처럼 보이지만
        부여된 max-height값을 넘으면 넘친 부분을 자르거나 삐져나가게 됨
        */
		header {
			width: 100%;
			height: 70px;
			position: absolute;
			top: 0px;
			left: 0px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			h1 {
				margin-top: 20px;
				margin-left: 40px;
			}
			ul {
				width: 300px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-right: 40px;
				li {
					a {
						font: 15px/1 'arial';
						color: #333;
					}
					&:nth-of-type(3) {
						padding: 5px 15px;
						border: 1px solid #999;
					}
				}
			}
		}
		.visual_part {
			width: 100%;
			img {
				width: 100%;
				height: 100%;
			}
			h2 {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font: bold 80px/1 'arial';
				color: #333;
			}
		}
	}
	.content1 {
		width: 100%;
		margin-top: 20px;
		background-color: rgba(0, 0, 0, 0.05);
		padding: 30px 0px;
		.content1_part {
			width: 100%;
			padding: 50px 0px;
			h3 {
				font: bold 30px/1 'arial';
				color: #333;
				text-align: center;
				position: relative;
				&::after {
					content: '';
					display: block;
					width: 50px;
					height: 2px;
					background-color: #555;
					margin: 30px auto 0px;
				}
			}
		}
		.content1_list {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			article {
				width: 280px;
				background-color: #fff;
				border: 4px solid transparent;
				// hover했을 때 계단 현상이 일어나지 않도록 border 줌
				padding-bottom: 30px;
				img {
					width: 100%;
					height: 150px;
					margin-bottom: 40px;
				}
				&:hover {
					border: 4px solid #999;
				}
				.txt {
					padding: 20px;
					text-align: center;
					span {
						font: 15px/1.5 'arial';
						color: #555;
					}
					&::before {
						content: '';
						display: block;
						width: 40px;
						height: 2px;
						background-color: #555;
						margin: 0 auto 30px;
					}
				}
			}
		}
	}
	.content2 {
		width: 100%;
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		// gap: 20px;
		.about {
			&:hover {
				img {
					opacity: 0.6;
				}
			}
		}
		article {
			width: 600px;
			h3 {
				text-align: center;
				font: bold 30px/1 'arial';
				color: #333;
				&::after {
					content: '';
					display: block;
					width: 50px;
					height: 2px;
					background-color: #555;
					margin: 30px auto 0px;
					// mixin으로도 사용가능
				}
			}
			.text {
				padding: 50px 80px;
				p {
					font: 15px/1.5 'arial';
					color: #555;
					text-align: center;
				}
			}
		}
	}
	footer {
		width: 100%;
		height: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #aaa;
		.copy {
			margin-left: 40px;
			span {
				font: 15px/1 'arial';
				color: #fff;
			}
		}
		.sns {
			margin-right: 40px;
			img {
				margin-right: 10px;
			}
		}
	}
}
