@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.hidden {
	position: absolute;
	top: -9999999999px;
	opacity: 0;
}
fieldset {
	border: none;
}
table {
	border-collapse: collapse;
}

.join {
	width: 100%;
}
.join .inner {
	width: 1180px;
	margin: 0 auto;
	padding: 100px 0px;
}

.join .inner h1 {
	font: bold 30px/1 '맑은 고딕';
	color: orange;
	margin-bottom: 30px;
}
.join .inner h2 {
	font: bold 18px/1 '맑은 고딕';
	color: #555;
	margin-bottom: 20px;
}

.join .inner #terms {
	width: 100%;
	height: 100px;
	padding: 20px;
	resize: none;
	font: 12px/1.3 'arial';
	color: #888;
	background-color: #eee;
	margin-bottom: 10px;
}

.join .inner .agreement {
	margin-bottom: 70px;
	display: flex;
	gap: 10px;
}
.join .inner .agreement label[for='agree'] {
	font-size: 12px;
}

.join .inner table {
	width: 100%;
	border-top: 2px solid #999;
	border-bottom: 2px solid #999;
}
.join .inner table th {
	width: 20%;
	text-align: center;
	font: bold 14px/1 'arial';
	color: #666;
	padding: 20px 30px;
	/* height값 대신 padding으로 대체 */
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	background-color: #eee;
}
.join .inner table th:last-child {
	background-color: #fff;
	text-align: center;
	border-right: none;
}
.join .inner table th input[type='reset'],
.join .inner table th input[type='submit'] {
	width: 150px;
	height: 40px;
	border: none;
	background-color: #444;
	font: bold 14px/1 '맑은 고딕';
	color: #fff;
}

.join .inner table td {
	border-bottom: 1px solid #bbb;
	padding: 20px 30px;
	display: flex;
}
.join .inner table td input[type='text'],
.join .inner table td input[type='password'] {
	width: 30%;
	height: 30px;
	border: 1px solid #bbb;
	background-color: #eeffff;
	padding-left: 20px;
}

#toggleBtn {
	width: 34px;
	height: 34px;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 50%;
	margin-left: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#toggleBtn::before {
	content: '\f06e';
	font-family: fontAwesome;
}
#toggleBtn.hide::before {
	content: '\f070';
	font-family: fontAwesome;
}

.join .inner table td input[type='checkbox'],
.join .inner table td input[type='radio'] {
	margin-right: 10px;
}
.join .inner table td label {
	margin-right: 30px;
}
.join .inner table td select {
	width: 20%;
	height: 30px;
	border: 1px solid #bbb;
	background-color: #eeffff;
	margin-left: 20px;
}
