@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
li {
	list-style: none;
}
body {
	/* 실기 시험 시 글자 코딩이 필수이기 때문에
    바디 태그에 전체 폰트를 지정하면 혹시 빼먹어도 다 들어감 */
	font-size: 14px;
	font-family: '돋움', 'sans-serif';
	color: #000000;
	background-color: #ffffff;
}
a {
	text-decoration: none;
	color: #333333;
}
address {
	font-style: normal;
	/* 주소 태그 쓰는 문제 많지 않아서 상황에 따라 작성 */
}
/* ----여기까지가 실기 문제 풀이 리셋구문---- */

nav {
	width: 800px;
	margin: 50px auto;
}
nav ul.gnb {
	width: 100%;
	height: 30px;
	line-height: 30px;
}
nav ul.gnb > li {
	border: 1px solid #2d1e2a;
	float: left;
	width: 200px;
	text-align: center;
	/* transition: all 0.5s; */
}
nav ul.gnb > li:hover {
	background-color: #edb5be;
}

.submenu {
	background-color: #c46285;
	display: none;
}
.submenu li {
	height: 40px;
	line-height: 40px;
	font-size: 11px;
	/* transition: all 0.5s; */
}
.submenu li:hover {
	background-color: #d8819e;
}
