@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	/* box-sizing: border-box; */
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}
/* 여기까지 리셋구문 */

#box {
	width: 100%;
	background-color: #aaa;
}

#box .inner {
	width: 1180px;
	margin: 0px auto;
	padding: 100px 0px;
	/* 전체 높이값이 패딩으로 결정되었음 */
	background-color: aliceblue;
	text-align: center;
	position: relative;
	/* nav태그의 기준점을 잡아주기 위해 포지션 걸어야함 */
}

#box .inner .first_box {
	width: 500px;
	margin: 0px auto;
	background-color: #aaa;
}

#box .inner .first_box ul {
	margin-bottom: 50px;
}

#box .inner .first_box ul li {
	float: left;
	width: calc(100% / 3);
	box-sizing: border-box;
	padding: 10px 20px;
}

#box .inner .first_box ul::after {
	content: '';
	display: block;
	clear: both;
}

#box .inner article {
	/* position을 사용할 때 반드시 부모라인을 따라서
    위 부모라인에 포지션이 선언되었는지 살펴야 함 */
	position: relative;
	/* 포지션의 기준점만 가져오고 요소의 성격을 변하지 않게 하기 위해
    relative를 선언함 */
	width: 500px;
	background-color: aqua;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	box-sizing: border-box;
	padding: 30px;
}

#box .inner article .circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: green;
	margin: 0px auto;
	margin-bottom: 20px;
}

#box .inner article h2 {
	font: 20px/1 'arial';
	margin-bottom: 10px;
}

#box .inner article span {
	font: normal 10px/1 'arial';
	/* 페이지 안에 있는 모든 글자는 반드시 폰트를 지정해줘야 함
    (사이트마다 다르게 보일 수 있기 때문) */
}
/* 
    디자인, 프론트엔드 영역에서는 99%가 아니라 100%의 동일한 효과와 화면구현이 목적,
    따라서 약간이라도 다르게 구현될 요지가 있는 코드가 있다면 수정해야하고,
    특수 브라우저에서 구현이 안되거나 특별한 코딩이 필요하다면 마땅히 그렇게 해줘야 함
    => 이유 : UX를 위해서 */

#box .inner nav {
	width: 100%;
	background-color: bisque;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#box .inner nav .btn {
	width: 100px;
	height: 40px;
	background-color: #ccc;
	display: inline-block;
	line-height: 40px;
	color: #fff;
}
