@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
body {
	width: 100%;
	height: 100vh;
	background-color: #f53b57;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigation {
	width: 70px;
	height: 350px;
	background-color: #fff;
	border-radius: 35px;
	box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
	position: relative;
	ul {
		width: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		display: flex;
		flex-direction: column;
		li {
			width: 70px;
			height: calc(350px / 5);
			position: relative;
			z-index: 1;

			a {
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				font-weight: 500;
				color: #333;
				position: relative;
				.icon {
					position: relative;
					display: block;
					line-height: 75px;
					text-align: center;
					i {
						font-size: 24px;
					}
				}
				.title {
					position: absolute;
					top: 50%;
					left: 110px;
					transform: translateY(-50%);
					padding: 5px 10px;
					background-color: #fff;
					border-radius: 6px;
					opacity: 0;
					// pointer-events: none;
					visibility: hidden;
					transition: 0.5s;
					&::before {
						content: '';
						width: 12px;
						height: 12px;
						background-color: #fff;
						position: absolute;
						top: 46%;
						left: -8px;
						transform: rotate(45deg) translateY(-50%);
						border-radius: 2px;
					}
				}
			}
			&:hover {
				a {
					.title {
						opacity: 1;
						visibility: visible;
						transform: translateX(-25px) translateY(-50%);
						// 기존에 있던 translateY를 유지하기 위해서 Y값도 다시 써줘야 함
						// 안 쓸 경우 X값만 덮어써짐
					}
				}
			}
			&:nth-of-type(1).active ~ .indicator {
				transform: translateY(0px);
				&::before {
					background-color: #f53b57;
				}
			}
			&:nth-of-type(2).active ~ .indicator {
				transform: translateY(70px);
				&::before {
					background-color: #3c40c6;
				}
			}
			&:nth-of-type(3).active ~ .indicator {
				transform: translateY(140px);
				&::before {
					background-color: #0fbcf9;
				}
			}
			&:nth-of-type(4).active ~ .indicator {
				transform: translateY(210px);
				&::before {
					background-color: #05c46b;
				}
			}
			&:nth-of-type(5).active ~ .indicator {
				transform: translateY(70px);
				&::before {
					background-color: #ffa801;
				}
			}
		}
		.indicator {
			position: absolute;
			left: 0px;
			width: 70px;
			height: 70px;
			&::before {
				content: '';
				width: 50px;
				height: 50px;
				background-color: #333;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: all 0.5s;
			}
		}
	}
}
