@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #333;
}
body {
	font-size: 14px;
	font-family: '돋움', sans-serif;
	color: #333;
	background-color: #fff;
}

.tab {
	width: 300px;
	border: 2px solid red;
	margin: 100px;
	height: 200px;
}
.tab > ul {
	width: 100%;
	/* width값 꼭 써야함! */
	height: 40px;
}
.tab > ul::after {
	content: '';
	display: block;
	clear: both;
}

.tab > ul li {
	border: 1px solid blue;
	width: 100px;
	height: 40px;
	float: left;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	/* 웹 접근성 이슈로 커서 태그 꼭!!! (버튼처럼 사용하는 것에.) */
}

.tab > ul li.on {
	background-color: #ccc;
}
.tab > ul li:hover {
	background-color: orange;
}

.conBox {
	border: 3px solid #000;
	height: 160px;
	display: none;
}
.conBox.on {
	display: block;
}

#cont1 > ul {
	width: 100px;
}
#cont1 > ul li {
	height: 30px;
	line-height: 30px;
	background-color: #eee;
}
#cont1 > ul li:hover {
	background-color: #ddd;
}

#cont2 > ul {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
#cont2 > ul li {
	background-color: #ccc;
	gap: 10px;
}
