.test {
	position: absolute;
	top: 200px;
	left: 500px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #f0f0f3;
	box-shadow: 10px 10px 30px #aeaec0, inset 10px 10px 10px #fff;
}
