@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
li {
	list-style: none;
}
body {
	font-size: 14px;
	font-family: '돋움', 'sans-serif';
	color: #000000;
	background-color: #ffffff;
}
a {
	text-decoration: none;
	color: #333333;
}
address {
	font-style: normal;
}

/* 왼쪽 세로버전 포지션 fix gnb */
nav {
	width: 200px;
	margin-top: 20px;
}
ul.gnb > li {
	width: 200px;
}
ul.gnb a {
	display: block;
	text-align: center;
}
ul.gnb > li > a {
	/* 메인 메뉴 a */
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	font-weight: bold;
	background-color: #805473;
	color: #ffffff;
}
ul.gnb > li:hover > a {
	background-color: #4e354b;
	color: #ffffff;
}

.submenu {
	width: 200px;
	height: 500px;
	float: left;
	display: none;
	background-color: #edb5be;

	position: absolute;
	left: 200px;
	top: 0px;
}
.submenu li a {
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	background-color: #edb5be;
}
.submenu li a:hover {
	background-color: #c46285;
	color: #eeeeee;
}
