@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400..800&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

* {
	margin: 0px;
	padding: 0px;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #777;
}
body {
	position: relative;
	font-family: 'Baloo Chettan 2', 'sans-serif';
	color: #000;
}

#product {
	position: relative;
	overflow: hidden;
	padding-top: 50px;
	.cont_right {
		width: 50%;
		float: right;
		// background-color: #aaa;
		h1 {
			width: 560px;
			margin: 150px 0 0 20px;
			font-family: 'Cardo', serif;
			font-size: 70px;
			line-height: 80px;
			letter-spacing: 14px;
			text-align: right;
			color: #bdbdbf;
			.point {
				color: #444;
			}
			.txt {
				display: block;
				margin-top: 10px;
				font-weight: normal;
				font-size: 20px;
				line-height: 22px;
				text-align: right;
				letter-spacing: 1px;
				color: #a37f64;
			}
		}
		.tit_product {
			display: block;
			margin: 50px 0 0 115px;
			font-size: 20px;
			line-height: 24px;
			color: #444;
		}
		.desc_product {
			width: 340px;
			margin: 10px 0 0 115px;
			text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
			// 디자인 때문에 글자 잘 안보인다 싶으면 섀도우 넣어주깅
		}
		.link_product {
			display: block;
			width: 90px;
			height: 30px;
			font-size: 12px;
			line-height: 30px;
			margin: 50px 0 0 115px;
			color: #a37f64;
			border: 1px solid #a37f64;
			text-align: center;
		}
		.bg_product {
			width: 525px;
			height: 565px;
			background-repeat: no-repeat;
			background-size: cover;
			margin: 65px 0 0 230px;
		}
		.box_product {
			background-color: #bdc7af;
			height: 445px;
			margin-top: 30px;
			position: relative;
			&::after {
				content: 'Life';
				font-size: 380px;
				line-height: 230px;
				color: #fff;
				letter-spacing: 30px;
				position: absolute;
				bottom: 0px;
				right: -100px;
				// 글자 잘리는 효과 주는 법이고, (fontsize보다 lineheight 적게 주고, 포지션 right -100px)
				// 이것만 쓰면 가로 스크롤바 생기기 때문에 위에 overflow hidden줌
				font-family: 'Cardo';
			}
			h2 {
				font-size: 70px;
				font-family: 'Cardo';
				letter-spacing: 15px;
				color: #444;
				transform: rotate(-90deg);
				position: absolute;
				top: -128px;
				left: -195px;
				.txt {
					color: #fff;
				}
			}
			.desc_product {
				margin: 0;
				// 기존에 부여한 마진 초기화 목적
				padding: 80px 0 0 230px;
				color: #fff;
			}
			.link_product {
				margin-left: 230px;
				border-color: #fff;
				color: #fff;
			}
		}
	}
	.cont_left {
		.bg_product {
			width: 525px;
			height: 565px;
			background-repeat: no-repeat;
			background-size: cover;
			margin: 65px 0 0 230px;
		}
	}
}
