@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #333333;
}

section {
	width: 800px;
	height: 350px;
	border: 4px solid lightcoral;
	margin: 0px auto;
	overflow: hidden;
}
section #slide {
	width: 800px;
	height: 350px;
}
section #slide .container {
	width: 100%;
	height: 350px;
	background-color: #333;
	position: relative;
	top: -350px;
}
section #slide .container > li {
	width: 800px;
	height: 350px;
	background-color: lightgreen;
	float: left;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	font-size: 100px;
	color: #fff;
}
section #slide .container .slideItem1 {
	background-image: url(../images/1.jpg);
}
section #slide .container .slideItem2 {
	background-image: url(../images/2.jpg);
}
section #slide .container .slideItem3 {
	background-image: url(../images/3.jpg);
}
