@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	/* box-sizing: border-box; */
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}
/* 여기까지 리셋구문 */

#box {
	width: 100%;
	background-color: #aaa;
}

#box .inner {
	width: 1180px;
	background-color: aliceblue;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding-top: 100px;
}

#box .inner .first_box {
	width: 500px;
	background-color: #aaa;
	margin: 0 auto;
	margin-bottom: 50px;
}

#box .inner .first_box ul {
	display: flex;
}

#box .inner .first_box ul li {
	flex: 1;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#box .inner article {
	width: 500px;
	background-color: aqua;
	margin: 0 auto;
	padding: 30px;
	box-sizing: border-box;
	margin-bottom: 60px;
	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; */
}

#box .inner article .circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: green;
	margin: 0 auto 30px;
}

#box .inner article h2 {
	font: 20px/1 'arial';
	text-align: center;
	margin-bottom: 10px;
}

#box .inner article span {
	font: normal 10px/1 'arial';
	display: block;
	text-align: center;
}

#box .inner nav {
	width: 100%;
	background-color: bisque;
	/* text-align: center; */
	display: flex;
	justify-content: center;
	/* font-size: 0; */
}

#box .inner nav .btn {
	width: 100px;
	height: 40px;
	background-color: #ccc;
	display: inline-flex;
	/* font-size: 15px; */
	justify-content: center;
	align-items: center;
	color: #fff;
}
