@mixin button($wd: 100px, $ht: 30px, $bgc: #ff7979, $bdr: 5px, $clr: #fff) {
	display: block;
	width: $wd;
	height: $ht;
	background-color: $bgc;
	border-radius: $bdr;
	text-align: center;
	line-height: $ht;
	color: $clr;
}
