@charset "utf-8";
@import './mixin';
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
.community {
	width: 100%;
	.inner {
		width: 1180px;
		margin: 50px auto;
		padding: 0px 20px;
		position: relative;
		.center-line {
			position: absolute;
			top: 20px;
			left: 50%;
			transform: translateX(-50%);
			width: 4px;
			height: 100%;
			// 컨텐츠 때문에 가진 높이값을 저절로 갖게 함
			background-color: #000;

			.scroll-icon {
				position: absolute;
				bottom: 0px;
				left: 50%;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: #f2f2f2;
				font-size: 25px;
				text-align: center;
				line-height: 40px;
				transform: translateX(-50%);
				color: #ff7979;
				box-shadow: 0px 0px 0px 4px #fff,
					// 보더 주지 않아도 테두리를 만들 수 있음
					inset 0px 2px 0px rgba(0, 0, 0, 0.3),
					0px 3px 0px 4px rgba(0, 0, 0, 0.4);
			}
		}
		.row {
			display: flex;
			section {
				width: calc(50% - 40px);
				// 40px 은 가운데서부터 여백 만들어줌
				padding: 20px;
				background-color: #eee;
				position: relative;
				&::before {
					content: '';
					display: block;
					width: 15px;
					height: 15px;
					background-color: #ff7979;
					border-radius: 5px;
					top: 28px;
					transform: rotate(45deg);
					// 사각형 돌려서 응용가능
					position: absolute;
					z-index: -1;
				}
				> i {
					width: 40px;
					height: 40px;
					background-color: #f2f2f2;
					border-radius: 50%;
					text-align: center;
					line-height: 40px;
					color: #ff7979;
					font-size: 17px;
					position: absolute;
					box-shadow: 0px 0px 0px 4px #fff, inset 0px 2px 0px rgba(0, 0, 0, 0.3),
						0px 3px 0px 4px rgba(0, 0, 0, 0.4);
				}
				.details {
					display: flex;
					justify-content: space-between;
					.title {
						font-size: 22px;
						font-weight: 600;
						text-transform: uppercase;
					}
				}
				p {
					margin: 10px 0px 17px 0px;
				}
				.bottom {
					display: flex;
					justify-content: space-between;
					a {
						/* display: block;
						padding: 7px;
						background-color: #ff7979;
						border-radius: 5px;
						color: #fff; */
						@include button($wd: 150px, $ht: 50px);
					}
				}
			}
		}
		.row-1 {
			justify-content: flex-start;
			section {
				&::before {
					right: -7px;
				}
				> i {
					top: 15px;
					right: -60px;
				}
			}
		}
		.row-2 {
			justify-content: flex-end;
			section {
				&::before {
					left: -7px;
				}
				> i {
					top: 15px;
					left: -60px;
				}
			}
		}
	}
}
